*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.menu{
    display: flex;
    justify-content: space-around;
    background-color: rgb(223, 196, 17);
}

.menu a {
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: large;
}

.menu a:hover{
    background-color: white;
    color: rgb(223, 196, 17);
}

header {
    background-image:url(../imagens/fundo.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.img {
    
    margin: 0 auto;
    width: 80%;
    
}

img {
    width: 100%;
}

.img p {
    background-color: rgb(223, 196, 17);
    padding: 5px 10px;
    margin-top: 0;
    text-align: center;
}

.texto {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.tacos, .pizzas {
    background-color: rgb(223, 196, 17);
    padding: 5px 10px;
    margin: 10px;
    width: 215px;
    text-align: center;
}

.real{
    font-size: 25px;
    margin-top: 0;
}

section{
    display: flex;
    flex-wrap: wrap;
}

.cards {
    margin: 0 auto;
    width: 40%;
   background-color: white; 
   text-align: center;
   border-radius: 10px;
   margin-bottom: 10px;
}

.imgp{
    margin: 0 auto;
    width: 50px;
    text-align: center;
}
